%section.row.content

  %h2.centered About

  %p.leadin Half Pixels is a site for my photography work. I shoot a lot of black and white photography, but there are also some color in there. I like black and white because it helps tell a more focused story &mdash; color isn't a distraction. I only use color if I feel that it is essential to the narrative that is happening in the photo.

  %p None of the photos in these sets were precomposed. Each a moment in time captured – random and unique.



/ %ul.photographs
/   - @photos.each do |p|
/     %li
/       .description.row
/         %h4= p.title
/         %small= p.description
/       .image{style: "background-image: url(#{p.large_url});"}