%section.row.content#intro.centered
  .spans8.align-center
    %h2 This is my photography.

    %p.leadin I mostly black and white and some color. Black and white photography helps tell a more focused story where color isn't a distraction. Color is only present if it is essential to the narrative.

    %p None of these photos were precomposed. Each is a moment in time captured – random and unique.



%ul.photographs
  - @photos.each_with_index do |p, i|
    %li
      .description
        %h4= p.title
        %div= p.description
      .image{style: "background-image: url(#{p.large_url});", class: "#{'lead' if i == 0}"}