

%ul.photographs
  %li.cover
    .image.lead
  - @photos.each_with_index do |p, i|
    %li
      .description
        %h4= p.title
        %div= p.description
      .image{style: "background-image: url(#{p.large_url});"}