

%section.row#portal
  .panel.spans12.text-center
    %p= link_to 'View my photography on Flickr', '//flickr.com/bendjsf'
    %hr.ornament
    %p= link_to 'Follow me on Strava', '//strava.com/athletes/bendjsf'
    %hr.ornament
    %p= mail_to 'dejesus.ben@gmail.com', 'Leave a note'