%section
  %h2 Grid System

  %section.demo
    %h3 Standard Grid
    .row
      - 12.times do
        .spans1 1
    .row
      - 6.times do
        .spans2 2
    .row
      - 4.times do
        .spans3 3
    .row
      - 3.times do
        .spans4 4
    .row
      - 2.times do
        .spans6 6

    .row
      .spans2 2
      .spans10 10
    .row
      .spans3 3
      .spans9 9
    .row
      .spans4 4
      .spans8 8
    .row
      .spans5 5
      .spans7 7

  %section.demo
    %h3 No Margins
    .row.no-margins
      - 12.times do
        .spans1 1
    .row.no-margins
      - 6.times do
        .spans2 2
    .row.no-margins
      - 4.times do
        .spans3 3
    .row.no-margins
      - 3.times do
        .spans4 4
    .row.no-margins
      - 2.times do
        .spans6 6

    .row.no-margins
      .spans2 2
      .spans10 10
    .row.no-margins
      .spans3 3
      .spans9 9
    .row.no-margins
      .spans4 4
      .spans8 8
    .row.no-margins
      .spans5 5
      .spans7 7



%section
  %h2 Typography
  %section.row
    .spans6
      %h1 Ligula Pellentesque

      %p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

      %h2 Venenatis Fusce Purus

      %p Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor.

      %p Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

      %p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.

      %h3 Tristique Dolor Ornare Vehicula

      %p Aenean lacinia bibendum nulla sed consectetur. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor.

      %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.

      %h4 Sem Condimentum Fermentum Venenatis Porta

      %p Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

      %p Donec id elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.

      %h5 Fringilla Etiam Amet Sollicitudin Nullam

      %p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

      %p Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus.

      %h6 Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum

      %p Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
