%h1 Trips to Tahoe

%ul.photographs
  - @photoset.photos.each do |p|
    %li.row
      .spans3.justify-right
        %h4= p.title
        %small= p.description
      .spans8.offset1= image_tag p.large_url