%h1 My Work Environment

%p These are the tools I use to build what I build

%h2 Software
%ul
  %li Terminal
  %li Sublime Text 2
  %li Sequel Pro
  %li DigitalColor Meter
  %li Chrome Dev Tools

  %li Fireworks
  %li Illustrator
