
@import shared/mixins
@import shared/normalize
@import application/grid
@import application/typography
@import application/utility

html, body
  height: 100%

#intro
  padding: 0 20px

.container
  margin-top: 100px
  padding: 10px 0
  background: #FFF

section
  margin: ($spacing * 2) 0
.wrap
  position: relative

header
  margin-bottom: $spacing * 2
  text-shadow: 1px 1px 0px #FFF, -1px -1px 0px #000

.main
  position: relative
  margin-bottom: 100px
  z-index: 10

nav
  position: absolute
  bottom: 10px
  right: 0
  ul
    padding: 0
    margin: 0
  li
    display: inline-block
    margin: 0 $spacing

h1.branding
  margin: 100px 0
  font-size: 120px
  font-weight: 600
  text-transform: uppercase
  text-align: center
  line-height: 1
h4
  margin-bottom: 0

.clip-background
  text-shadow: none
  background:
    image: url(http://farm3.staticflickr.com/2886/9096553023_f2d119600c_h.jpg)
    attachment: fixed
    size: cover
  color: transparent
  @include background-clip(text)

.photographs
  list-style: none
  padding: 0
  margin: 0
  li
    position: relative
    margin: 0 // $spacing*5 0
    box-shadow: 0 5px 5px rgba(0,0,0,0.075)
  img
    max-width: 100%
    display: block
  .description
    color: #FFF
    position: absolute
    padding: 40px
    left: 0
    right: 0
    top: 0
    z-index: 10
    @include gradient(rgba(0,0,0,0.8), rgba(0,0,0,0))

small ul
  margin: 40px 0

a
  color: #666
  text-decoration: none

hr
  border: none
  border-top: 1px solid #DDD
  display: block
  overflow: visible
  position: relative
  &:before
    font-size: 40px
    display: block
    color: #DDD
    content: '❖'
    left: 48%
    top: -0.525em
    background: #FFF
    line-height: 1em
    padding: 0 1%
    position: absolute


footer
  clear: both
  color: #999
  text-align: center
  // position: fixed
  padding: 0 0 100px
  bottom: 40px
  left: 0
  right: 0
  text-align: center

img
  display: block
  max-width: 100%

.row
  margin:
    top: 80px
    bottom: 80px
body
  background:
    image: url(http://farm3.staticflickr.com/2886/9096553023_f2d119600c_h.jpg)
    attachment: fixed
    size: cover
.container
  background:
    image: image-url('subtle_white_feathers.png')


.photographs .image
  display: block
  height: 100%
  min-height: 100px
  position: relative
  background:
    repeat: no-repeat
    size: cover
    attachment: fixed
    position: center
