
@import shared/mixins
@import shared/normalize
@import application/grid
@import application/typography


.container
  padding: 0

section
  margin: ($spacing * 2) 0
.wrap
  position: relative

header
  margin-bottom: $spacing * 2

nav
  position: absolute
  bottom: 10px
  right: 0
  ul
    padding: 0
    margin: 0
  li
    display: inline-block
    margin: 0 $spacing

h1.branding
  margin: $spacing 0
  font-weight: 600
  text-transform: uppercase
  line-height: 1
  text-align: center
  color: #DDD
h4
  margin-bottom: 0

.photographs
  list-style: none
  padding: 0
  margin: 0
  li
    margin: $spacing*5 0
  img
    max-width: 100%
    display: block

small ul
  margin: 40px 0

a
  color: #666
  text-decoration: none

footer
  clear: both
  padding: 20px 0

img
  display: block
  max-width: 100%

.row
  margin: 80px 0