%header
  .wrap
    %h1.branding
      half&#10070;<wbr/>pixels

    / %nav.global
    /   %ul
    /     %li= link_to 'Black &amp; White'.html_safe, '/selected-photos-black-and-white'
    /     %li= link_to 'Trips to Tahoe', '/trips-to-tahoe'
    /     %li= link_to 'San Francisco', '/san-francisco'